<!doctype html>
<html>
<head>
    <title>Smallfry!</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
<div id="content">
    <h1 id="title">Smallfry!</h1>
    <p class="breadcrumbs"><a href="/">Home</a> / Blog</p>
    <h3>The Blog!</h3>
    <p class="justify">
        You can put a small tagline, or piece of information here. Or not. Up to you, I won't judge.
    </p>
    {{if .}}
        <ul>
            {{range .}}
                <li>{{.Date}} &raquo; <a href="/blog/{{.Slug}}">{{.Title}}</a></li>
            {{end}}
        </ul>
    {{else}}
        <p clas="justify">Awh, this person hasn't posted anything :(</p>
    {{end}}
    <p id="footer">
        Humbly powered by Smallfry, a tiny Go webserver
    </p>
</div>
</body>
</html>