<!doctype html>
<html>
<head>
    <title>Smallfry!</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
<div id="content">
    <h1 id="title">Smallfry!</h1>
    <p class="breadcrumbs"><a href="/">Home</a> / <a href="/blog">Blog</a> / {{.Title}}</p>
    <h3>{{.Title}}</h3>
    <p class="date">{{.Date}} | By {{.Author}}</p>
    {{range $key, $value := .Body}}
        <p class="justify">{{$value}}</p>
    {{end}}
    <p id="footer">
        Humbly powered by Smallfry, a tiny Go webserver
    </p>
</div>
</body>
</html>