html, body {
    margin: 0;
    padding: 0;
}

#title {
    text-align: center;
}

#content {
    width: 600px;
    margin: 0 auto;
}

#footer {
    font-size: small;
    text-align: center;
    border-top: 1px solid black;
    padding-top: 10px;
}

.date {
    color: grey;
    font-size: small;
}

.breadcrumbs {
    font-family: "Courier New", monospace;
    font-size: small;
}

.justify {
    text-align: justify;
}